<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title> Voting </title>
    <link href="/style.css" rel="stylesheet" type="text/css" />

</head>

<body>
    <h1> Your Statistics </h1>

    <hr>

    <h2> Points: <%= points %>
    </h2>

    <hr>

    <h2> Questions
    </h2>
    <div class="center">
        <ul>
            <% if (responses.length> 0) { %>
                <% for(var i=0; i<responses.length; i++) { %>
                    <li>
                        <%= responses[i] + " " + resChoices[i] %>
                    </li>
                    <% } %>
                        <% } else { %>
                            <li>
                                <%= resChoices[0] %>
                            </li>
                            <% } %>


        </ul>
    </div>

    <hr>

    <h2> Predictions
    </h2>
    <div class="center">
        <ul>
            <% if (predictions.length> 0) { %>
                <% for(var i=0; i<predictions.length; i++) { %>
                    <li>
                        <%= predictions[i] + " " + predChoices[i] + ": " + results[i] %>
                    </li>
                    <% } %>
                        <% } else { %>
                            <li>
                                <%= predChoices[0] %>
                            </li>
                            <% } %>
        </ul>
    </div>


    <button onclick="history.back()">Go Back</button>

    <script src="/script.js"></script>
</body>

</html>